table,
th,
td {
    border: 0.2px solid #bdbdbd;
    border-collapse: collapse;
}

th,
td {
    padding: 10px 3px 10px 4px;

}

.bold {
    font-weight: 700;
    font-size: 15px;
    font-family: Arial ;
}

.mainbox {
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    padding: 8px 4px;
}

.imgBox {
    width: 100%;
    border: 1px solid #bdbdbd;
    overflow: hidden;
}
.first{
  font-size: 15px;
  font-family: Arial;
}

.firstt {
    width: 5%;
    text-align: left;
    height: 150px;
    font-size: 15px;
}

.second {
    width: 30%;
    text-align: left;
    font-size: 15px;
}

.third {
    width: 8%;
    text-align: left;
    font-size: 15px;
}

.fourth {
    width: 22%;
    text-align: left;
    font-size: 15px;
}

.fifth {
    width: 22%;
    text-align: left;
    font-size: 15px;
}

.sixth {
    width: 5%;
    text-align: left;
    font-size: 15px;
}
.seventh {
    width: 8%;
    text-align: left;
    font-size: 15px;
}